<%-include("./header") %>

    <div class="contain"></div>
        <div class="bg-text">
        <div class="logininfo">
        <h3>click here to login as customer...</h3>
        <a href="/login">customer login!</a>
        <h3>click here to login as manager...</h3>
        <a href="/manager">manager login!</a>
        </div>
    </div>

<%-include("./footer") %>        
